@model PhotoPanelModel

<div>
    <span style="vertical-align: top;">
        TITLE: 
    </span>
    <span>
        @Model.Title
    </span>
    <div style="text-align: right!important;">
        <img src="@Model.PhotoUrl" />
    </div>
</div>    

<hr />      